:root{
    --text--colo-- :#9a7787;
    --backgroun--color--section :#9a7787;
    --sometime--use--it :#e4afb0;
    --background-- :#fed7bf;
    --one:#FED7BF;
    --two:#e4afb0;
    --three:#9a7787;
}


.tittle__text__getintouch{
    margin-top: 300px;
    display: flex;
    padding: 10px;
}
.tittle__text__getintouch h1{
    margin: auto;
    font-size: 42px;
    color: #000000;
}

.p__text__ingetintouch{
    display: flex;
    justify-content: center;
}
.p__text__ingetintouch p{
    text-align: center;
    font-size: 18px;
}

.same__futer__but__ingetintouch{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
}
.left_same__futer__but__ingetintouch{
    display: block;
    margin-top: 65px;
    margin-left: 30px;
    padding: 10px;
}
.left_same__futer__but__ingetintouch img{
    margin-right: 60px;
}
.left_same__futer__but__ingetintouch div{
    display: flex;
    padding:5px;
    margin-top: 10px;
}
.left_same__futer__but__ingetintouch div h4{
    font-size: 24px;
    color: #9a7787;
    margin: 0px;
}
.box__buttom__getintouch{
    display: flex;
}
.buttom_getintouch{
    font-size: 24px;
    background-color: #e4afb0;
    border-color: #9a7787;
    padding: 10px;
    transition: 1s;
}
.buttom_getintouch:hover{
    font-size: 24px;
    background-color: #e4afb0;
    border-color: #000000;
    padding: 10px;
    transition: 0.5s;
    transform: scale(1.1);
}


.box__email_telephone_inhetintouch{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
}
.email_telephone_inhetintouch{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
    color: #9a7787;
}
.email_telephone_inhetintouch span{
    color: #9a7787;
    transition: 1s;
    padding: 0px;
}
.email_telephone_inhetintouch h4{
    color: #9a7787;
    transition: 1s;
}
.email_telephone_inhetintouch p{
    color: #9a7787;
    transition: 1s;
}
.email_telephone_inhetintouch p:hover{
    color: #fed7bf;
    transition: 1s;
}
.email_telephone_inhetintouch span:hover{
    color: #fed7bf;
    transition: 1s;
    padding: 5px;
}
.email_telephone_inhetintouch h4:hover{
    color: #fed7bf;
    transition: 1s;
}

.email_telephone_inhetintouch div{
    display: block;
    gap: 0px;
    padding: 5px;
}
.email_telephone_inhetintouch h4:hover{
    color: #fed7bf;
    transition: 1s;
}

.email_telephone_inhetintouch div{
    display: block;
    gap: 0px;
    padding: 5px;
}
.email_telephone_inhetintouch h4:hover{
    color: #fed7bf;
    transition: 1s;
}

.email_telephone_inhetintouch div{
    display: block;
    gap: 0px;
}
.p__email_telephone_ingetintouch{
    display: block;
    color: #9a7787;
    gap: 0px;
    margin-right: 40px;
}
.p__email_telephone_ingetintouch h6{
    font-size: 18px;
}
.p__email_telephone_ingetintouch p{
    justify-content: start;
    font-size: 12px;
}
.p__email_telephone_ingetintouch a{
    text-decoration: none;
    color: #9a7787;
    font-size: 12px;
}


.box__same__futer__but__ingetintouch{
    display: block;
    justify-content: space-around;
    background-color: #fdf6f7;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}
.photo__getintouch{
    padding: 10px;
    margin-top: 10px;
    transition: 1s;
}
.photo__getintouch:hover{
    padding: 10px;
    margin-top: 10px;
    transition: 1s;
}

.line__ingetintouch{
    width: 98%;
    padding: 10px;
}
.line__ingetintouch hr{
    color: #ffffff;
    height: 1px;
}
.getintouch__contact__form{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.getintouch__contact__form h1{
    font-size: 42px;
}
.getintouch__contact__form__p{
    display: flex;
    justify-content: center;
    text-align: center;
}
.form__cotact__getintouch{
    display: grid;
    justify-content: center;
    margin: auto;
    background-color: #fdf6f7;
    width: 90%;
    border-radius: 10px;
}


.form__cotact__getintouch form{
    display: block;
}
.form__cotact__getintouch div{
    display: block;
    padding: 10px;
    font-size: 18px;
}
.form__cotact__getintouch div select{
    padding: 10px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 2px;
}
.form__cotact__getintouch div input{
    padding: 10px;
    width: 500px;
    border-radius: 2px;
    transition: 1s;
    color: #000000;
}
.form__cotact__getintouch div input:hover{
    padding: 10px;
    width: 500px;
    border-radius: 2px;
    background-color: #e4afb0;
    transition: 0s;
    color: #ffffff;
}
.select {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.message__input{
    padding: 10px;
    width: 500px;
    height: 100px;
    border-radius: 2px;

}
.buttom_in_get_in_touch{
    padding: 10px;
    width: 150px;
    display: grid;
    color: var(--text--colo--);
    background-color: #ffffff;
    font-size: 18px;
    border-color: var(--background--);
    transition: 0.5s;
    transform: scale();
    transform: scale3d();
}
.buttom_in_get_in_touch:hover{
    padding: 10px;
    width: 150px;
    display: grid;
    color: var(--text--colo--);
    background-color: #ffffff;
    font-size: 18px;
    border-color: var(--background--);
    transition: 0.5s;
    transform: scale(1.1);
    transform: scale3d(1.1);
}

    /* Hero Section */
.national-day-hero {
 background: linear-gradient(135deg, var(--three), var(--two));
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

.national-day-hero::after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
 background: linear-gradient(135deg, var(--three), var(--two));
}

.national-day-hero h1 {
  font-size: 40px;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
}

.national-day-hero p {
  font-size: 20px;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.national-day-hero .cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: var(--two);
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.national-day-hero .cta-button:hover {
  background-color: #fff;
  color:var(--two);
}/* Hero Section */
.national-day-hero {
 background: linear-gradient(135deg, var(--three), var(--two));
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

.national-day-hero::after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
 background: linear-gradient(135deg, var(--three), var(--two));
}

.national-day-hero h1 {
  font-size: 40px;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
}

.national-day-hero p {
  font-size: 20px;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.national-day-hero .cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: var(--two);
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.national-day-hero .cta-button:hover {
  background-color: #fff;
  color:var(--two);
}