:root{
    --one:#FED7BF;
    --two:#e4afb0;
    --three:#9a7787;
}
body{
    margin: 0;
}

.jubha-footer {
  background: #ffffff;
  color: var(--three);
  border-top: 1px solid #f0f0f0;
  width: 100%;
}

.footer-top {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-logo {
  font-size: 26px;
  color: var(--three);
  margin-bottom: 15px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color:var(--three);
}

.footer-col p {
  font-size: 14px;
  line-height: 1.7;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a,
.footer-link {
  color: #6b5a5f;
  text-decoration: none;
  font-size: 14px;
}

.footer-col ul li a:hover,
.footer-link:hover {
  color: var(--two);
}

/* Newsletter */
.footer-newsletter {
  background: #fdf6f7;
  padding: 40px 20px;
  text-align: center;
}

.footer-newsletter h3 {
  color: var(--three);
  margin-bottom: 10px;
}

.footer-newsletter form {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer-newsletter input {
  padding: 12px 15px;
  border-radius: 30px;
  border: 1px solid var(--two);
  width: 260px;
}

.footer-newsletter button {
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  background: var(--three);
  color: #fff;
  cursor: pointer;
}

.footer-newsletter button:hover {
  background:var(--two);
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid #eee;
  padding: 10px 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--three);
  color: white;
  justify-content:space-around ;
}

.footer-bottom-links a {
  margin-left: 15px;
  color: #ffffff;
  text-decoration: none;

}

.footer-bottom-links a:hover {
  color: var(--three);
  
}
