:root{
    --text--colo-- :#9a7787;
    --backgroun--color--section :#9a7787;
    --sometime--use--it :#e4afb0;
    --background-- :#fed7bf;
}
.backgroun_contact_page{
    background-color: #9a7787;
    position: absolute ;
    width: 98.9%;
    height: 300px;
    color: aliceblue;
}
.text_background_contact-page{
    position: relative;
    display: block;
    margin-left: 100px;
    margin-top: 130px;
    font-size: 42px;
}
.Get_in_Touch_background_contact-page p{
    background-color: #fed7bf;
    width: 300px;   
    text-align: center;
    border-radius: 5px;
}
.Get_in_Touch_background_contact-page{
    display: flex;
    font-size: 24px;
}


.tittle__text__getintouch{
    margin-top: 300px;
    display: flex;
    padding: 10px;
}
.tittle__text__getintouch h1{
    margin: auto;
    font-size: 42px;
    color: #000000;
}

.p__text__ingetintouch{
    display: flex;
    justify-content: center;
}
.p__text__ingetintouch p{
    text-align: center;
    font-size: 18px;
}

.same__futer__but__ingetintouch{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
}
.left_same__futer__but__ingetintouch{
    display: block;
    margin-top: 65px;
    margin-left: 30px;
    padding: 10px;
}
.left_same__futer__but__ingetintouch img{
    margin-right: 60px;
}
.left_same__futer__but__ingetintouch div{
    display: flex;
    padding:5px;
    margin-top: 10px;
}
.left_same__futer__but__ingetintouch div h4{
    font-size: 24px;
    color: #9a7787;
    margin: 0px;
}
.box__buttom__getintouch{
    display: flex;
}
.buttom_getintouch{
    font-size: 24px;
    background-color: #e4afb0;
    border-color: #9a7787;
    padding: 10px;
    transition: 1s;
    transform: rotate(0);
}
.buttom_getintouch:hover{
    font-size: 24px;
    background-color: #e4afb0;
    border-color: #000000;
    padding: 10px;
    transition: 0.5s;
    transform: scale(1.1);
}


.box__email_telephone_inhetintouch{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
}
.email_telephone_inhetintouch{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
    color: #9a7787;
}
.email_telephone_inhetintouch span{
    color: #9a7787;
    transition: 1s;
    padding: 0px;
}
.email_telephone_inhetintouch h4{
    color: #9a7787;
    transition: 1s;
}
.email_telephone_inhetintouch p{
    color: #9a7787;
    transition: 1s;
}
.email_telephone_inhetintouch p:hover{
    color: #fed7bf;
    transition: 1s;
}
.email_telephone_inhetintouch span:hover{
    color: #fed7bf;
    transition: 1s;
    padding: 5px;
}
.email_telephone_inhetintouch h4:hover{
    color: #fed7bf;
    transition: 1s;
}

.email_telephone_inhetintouch div{
    display: block;
    gap: 0px;
    padding: 5px;
}
.email_telephone_inhetintouch h4:hover{
    color: #fed7bf;
    transition: 1s;
}

.email_telephone_inhetintouch div{
    display: block;
    gap: 0px;
    padding: 5px;
}
.email_telephone_inhetintouch h4:hover{
    color: #fed7bf;
    transition: 1s;
}

.email_telephone_inhetintouch div{
    display: block;
    gap: 0px;
}
.p__email_telephone_ingetintouch{
    display: block;
    color: #9a7787;
    gap: 0px;
    margin-right: 40px;
}
.p__email_telephone_ingetintouch h6{
    font-size: 18px;
}
.p__email_telephone_ingetintouch p{
    justify-content: start;
    font-size: 12px;
}
.p__email_telephone_ingetintouch a{
    text-decoration: none;
    color: #9a7787;
    font-size: 12px;
}


.box__same__futer__but__ingetintouch{
    display: block;
    justify-content: space-around;
    background-color: #fdf6f7;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}
.photo__getintouch{
    padding: 10px;
    margin-top: 10px;
    transition: 1s;
    transform: scale();
}
.photo__getintouch:hover{
    padding: 10px;
    margin-top: 10px;
    transition: 1s;
    transform: scale(1.1);
}

.line__ingetintouch{
    width: 98%;
    padding: 10px;
}
.line__ingetintouch hr{
    color: #ffffff;
    height: 1px;
}
.getintouch__contact__form{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.getintouch__contact__form h1{
    font-size: 42px;
}
.getintouch__contact__form__p{
    display: flex;
    justify-content: center;
    text-align: center;
}
.form__cotact__getintouch{
    display: grid;
    justify-content: center;
    margin: auto;
    background-color: #fdf6f7;
    width: 90%;
    border-radius: 10px;
}


.form__cotact__getintouch form{
    display: block;
}
.form__cotact__getintouch div{
    display: block;
    padding: 10px;
    font-size: 18px;
}
.form__cotact__getintouch div select{
    padding: 10px;
    width: 521px;
    background-color: #ffffff;
    border-radius: 2px;
}
.form__cotact__getintouch div input{
    padding: 10px;
    width: 500px;
    border-radius: 2px;
    transition: 1s;
    color: #ffffff;
}
.form__cotact__getintouch div input:hover{
    padding: 10px;
    width: 500px;
    border-radius: 2px;
    background-color: #e4afb0;
    transition: 0s;
}
.select {
    border-radius: 5px;
    border: 1px solid #ccc;
}
.message__input{
    padding: 10px;
    width: 500px;
    height: 100px;
    border-radius: 2px;
}