:root{
    --text--colo-- :#9a7787;
    --backgroun--color--section :#9a7787;
    --sometime--use--it :#e4afb0;
    --background-- :#fed7bf;
}
.backgroun_page_news{
    background-color: #9a7787;
    position: absolute ;
    width: 100%;
    height: 300px;
    color: aliceblue;
}
.text_background_page_news{
    position: relative;
    display: block;
    margin-left: 100px;
    margin-top: 130px;
    font-size: 42px;
}
.page_news__text p{
    background-color: #fed7bf;
    width: 200px;   
    text-align: center;
    border-radius: 5px;
}
.page_news__text{
    display: flex;
    font-size: 24px;
}
.box__selech__year{
    width: 90%;
    margin: auto;
    background-color: #fdf6f7;
    margin-top: 300px;
    text-align: center;
    border-radius: 5px;
}
.selech__year h1{
    color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
}
.selech__year form{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.selech__year form input{
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    border-color: #000000;
    font-size: 12px;
    padding-left: 20px;
    transition: 0.3s;
}
.selech__year form input:hover{
    width: 600px;
    padding: 11px;
    border-radius: 5px;
    border-color: #000000;
    font-size: 12px;
    padding-left: 20px;
    transition: 0.3s;
}
.selech__year form select{
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: #000000;
    font-size: 12px;
    padding-left: 20px;
}

.selech__year form button{
    width:150px;
    font-size: 12px;
    text-align: center;
    background-color: #ffffff;
    border-color: #000000;
    transition: 0.3s;
    color: var(--text--colo--);
}
.selech__year form button:hover{
    width:150px;
    font-size: 12px;
    text-align: center;
    background-color: var(--background--);
    border-color: #000000;
    transition: 0.3s;
    transform: scale(1.1);
}



.Photo_and_info_in_news{
    display: flex;
    margin: auto;
    margin-left: 70px;
    margin-right: 70px;
    gap: 50px;
    background-color: #fdf6f7;
    color: var(--text--colo--);
    padding: 20px;
}
.Photo_and_info_in_news img{
    width: 800px;
    padding: 0px;
    height: 300px;
}
.Photo_and_info_in_news div{
    display: block; 
}
.Photo_and_info_in_news div h2{
    text-align: center;
    margin-top: 50px;
    margin-left: 150px;
}
.Photo_and_info_in_news div p{
    text-align: start;
    margin-left: 150px;
}
.Photo_and_info_in_news div a{
    margin-left: 150px; 
}
.titlle_news{
    display: flex;
    padding: 10px;
    font-size: 24px;
}
.titlle_news h1{
    margin: auto
}
.cat__{
    background-color: #fdf6f7;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 5px;
}